input{
    border: 2px solid rebeccapurple;
    border-radius: 5px;
}
table{
    background-color: rgb(35, 6, 63);
    color: white;
    padding: 15px;
    border: 2px solid black;
    margin: 20px;
}
tr{
    border: 1px solid black;
}
th,td{
    padding: 10px;
    text-align: center;
}
p{
    color: red;
}